body {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin: 10px;
}
nav {
  width: 500px;
  display: flex;
  position: relative;
  /* border-bottom: 2px solid #000; */
}
.tab-link {
  flex: 1;
  padding: 10px 15px;
  text-align: center;
  cursor: pointer;
  transition: color 0.3s ease;
}
.tab-link.active {
  color: #333;
  font-size: 15px;
  font-weight: bold;
}
.tab-link:hover {
  color: #6e6e6e;
}
.underline {
  /* background: #007bff; */
  background: black;
  position: absolute;
  bottom: -2px;
  height: 3px;
  width: 25%;
  transition: left 0.3s ease;
  left: 0;
}
.tab-content{
    margin: 20px 10px;
}
.tab {
  display: none;
}
.tab.active {
  display: block;
}

p {
  font-size: 28px;
}
.box {
  background: black;
  color: aliceblue;
  padding: 50px;
  text-align: center;
  margin: 25px 50px;
  border-radius: 10px;
}
